 
.navbar-inverse {
					background-color: #F5F7F9;
					border:none;
					color: #24B47E;
					font-size: 30px;
					padding:0;
					margin: 0;
				}


	
	
	
	thead{
	color: #52527a;
	background-color: #ccd9ff;
	font-size: 15px;
	font-family: 'Source Serif Pro', serif;
	}
	
	
	
	.container {
					margin-bottom: 0;
					padding: 5px;
					border-radius:15px;
					}
					
					
				
	
	
	.panel-group{
					margin: 5px;
					
					}
					
		
	
	kbd{
		background-color: #e6f9ff;
		color: #6772E5;
		font-size: 14px;
		}
	
	.tabcolor{
		background-color: #4080bf;
		color: white;
	}
	
	.text{
	font-size: 22px;
	}
	
	.well-sm{
	background-color: #e6ffee;
	}
	
	.text-header{
	font-size: 20px;
	position: absolute;
	left: 150px;
	top: 5px;
	}
	
	body{
			background-color: #F5F7F9;
			}
    
	
	.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #dfe6ec;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

@media screen and (max-height: 900px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 15px;}
}


.sidenav a {
    padding: 8px 8px 15px 30px;
    text-decoration: none;
    font-size: 15px;
    color: #4d6680;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color:  #000099;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 40px;
    margin-left: 50px;
}



#main {
    transition: margin-left .5s;
    padding: 5px;
}
	
	
.menu-text{
text-align: center;
font-size: 25px;
font-family: 'Montserrat', sans-serif;
color: #FFFFFF;
}	
	

	.issue{
			position: absolute;
			right: 0px;
			top: 0px;
			background-color: #76E5A2;
			width: 115px;
			height: 40px;
			text-align: center;
			color: #43458B;
			font-size:28px;
			cursor:pointer;
			text-decoration: none;
		}	
	
	
	h4,h5 {
	font-family: 'ABeeZee', sans-serif;
	color: #47476b;
	}
	
	td, p{
	color: #47476b;
	font-size: 16px;
	font-family: 'Source Serif Pro', serif;
	}
	
	strong{font-family: 'Source Serif Pro', serif;
			font-size: 16px;}
	
		.info a{
		color: #6995EA;
	}
	
	
	
	.info a:hover{
			color: #9494FF;
			}	
  
  
  
  

  
 img {
 text-align: center;
 }

 
 .well, .alert{
 border-radius: 15px;
 text-align:justify;
 }
 
 
hr{
border: 0;
border-bottom: 1px dashed #ccc;
background: #b3b3ff;
}
 
 .mod{
		background-color:#e6e6ff;
		border: none;
		}
 
 
 
 /* WAY */
	
	.way{
			text-indent: 0.2em;
			font-family: 'Taviraj', serif;
			font-size: 20px;
			color: #FFFFFF;
			margin-left: 20px;
			}
 
	.img-ctr {text-align: center;}
 
 .line{
			height: 10px;
			color:#F5F7F9;
			border: none;
			background-color: #F5F7F9;
			
			}
 
 